<body class = "background centered">
	<h1><%= @username1 %> x <%= @username2 %></h1>
	<% for week in 1..17 %>
		<%= link_to(week.to_s, '/compare?user1=' + @username1.to_s + '&user2=' + @username2.to_s + '&week=' + week.to_s, {:style=>'font-size: 150%'}) %>
		&nbsp;
	<% end %>
	</br>
	</br>
	<% week = params[:week] %>
	<h2>Week <%= week %></h2>
	</br>
	</br>
	<div class = "grid">
		<% for game in @schedule[week.to_s] %>
			<div class = "box centered">
				<%= image_tag("logos/#{game["awayTeam"]}.png", alt: "#{game["awayTeam"]} logo", id: "#{game["awayTeam"]}", size: "40x27", class: "img-responsive") %> 
				<%= image_tag("@.png", size: "25x25", class: "img-responsive") %>
				<%= image_tag("logos/#{game["homeTeam"]}.png", alt: "#{game["homeTeam"]} logo", id: "#{game["homeTeam"]}", size: "40x27", class: "img-responsive") %>
				<hr style="margin: 5px; color: black">
				<div style = "float:left;width: 50%;margin: 0 auto;">
					<i><%= @username1 %></i>
					<hr style="margin: 5px; visibility: hidden">
					<% if @games_picked_1.key?(game["gameId"]) %>
						<% team = @games_picked_1[game["gameId"]] %>
						<%= image_tag("logos/#{team}.png", alt: "#{team} logo", id: "#{team}", size: "90x50", class: "img-responsive") %>	
					<% end %>
				</div>
				<div style = "float:left;width: 50%;margin: 0 auto;">
					<i><%= @username2 %></i>
					<hr style="margin: 5px; visibility: hidden">
					<% if @games_picked_2.key?(game["gameId"]) %>
						<% team = @games_picked_2[game["gameId"]] %>
						<%= image_tag("logos/#{team}.png", alt: "#{team} logo", id: "#{team}", size: "90x50", class: "img-responsive") %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>

</body>