<body class = "background centered">
	<h1><%= @username %>'s picks</h1>
	<% for week in 1..17 %>
		<%= link_to(week.to_s, '/view?user=' + @username.to_s + '&week=' + week.to_s, {:style=>'font-size: 150%'}) %>
		&nbsp;
	<% end %>
	</br>
	</br>
	<% week = params[:week] %>
	<h2>Week <%= week %></h2>
	</br>
	</br>
	<div class = "grid">
		<% for game in @schedule[week.to_s] %>
			<div class = "box centered">
				<%= image_tag("logos/#{game["awayTeam"]}.png", alt: "#{game["awayTeam"]} logo", id: "#{game["awayTeam"]}", size: "120x70", class: "img-responsive") %> 
				<!--&nbsp;&nbsp;&nbsp;&nbsp;-->
				<%= image_tag("@.png", size: "50x50", class: "img-responsive") %>
				<%= image_tag("logos/#{game["homeTeam"]}.png", alt: "#{game["homeTeam"]} logo", id: "#{game["homeTeam"]}", size: "120x70", class: "img-responsive") %>
				<% if @games_picked.key?(game["gameId"]) %>
					<script type="text/javascript">
						var picked_team = "<%= @games_picked[game["gameId"]] %>"
						var home_team = "<%= game["homeTeam"] %>"
						var away_team = "<%= game["awayTeam"] %>"
						show_picked_team(picked_team, home_team, away_team)
					</script>
				<% end %>
			</div>
			<!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
		<% end %>
	</div>
	</br>
	</br>
</body>