<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>
  <head>
    <title>NFLPredictions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class = "w3-container w3-teal", style = "text-align: right; font-size: 18px"}>
	    <% if user_signed_in? %>
	    	<%= link_to "#{current_user.username.to_s}", root_url %>
	    	<%= link_to('Logout', destroy_user_session_path, method: :delete) %> 
	    <% else %>
	    	<%= link_to('Login', new_user_session_path)  %>
	    <% end %>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
